/data

Greg_Kamradt/figures
Greg_Kamradt/__pycache__/
Greg_Kamradt/images/

images/

langchain-ai/rag-from-scratch/.ragatouille/

Sam_Witteveen/draft_email.md
Sam_Witteveen/email_category.md
Sam_Witteveen/final_email.md