/data

Greg_Kamradt/figures
Greg_Kamradt/__pycache__/
Greg_Kamradt/images/

images/

langchain-ai/rag-from-scratch/.ragatouille/

Sam_Witteveen/draft_email.md
Sam_Witteveen/email_category.md
Sam_Witteveen/final_email.md 
Sam_Witteveen/rag_questions.md
Sam_Witteveen/research_info.md
Sam_Witteveen/db/

Function_Calling/data

Model_Evaluation/mistralai/Mistral-7B-Instruct-v0.3/data/